<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:amq="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <context:property-placeholder location="classpath:resources.properties"/>
    <context:component-scan base-package="org.springframework.message"/>

    <!--1、ActiveMQ 工厂 2、amq命名空间方式 3、默认监听端口61616 4、默认用户名：admin 密码：admin -->
    <amq:connectionFactory id="connectionFactory"
                           brokerURL="tcp://${activeMQ.host}:${activeMQ.port}"
                           userName="${activeMQ.userName}"
                           password="${activeMQ.password}"
                           trustAllPackages="true" />

    <!--1、定义消息目的地，可以是队列或者主题两种方式 2、借助physicalName属性指定消息通道的名称-->
    <amq:queue id="queueDestination" physicalName="queueName"/>
    <amq:topic id="topicDestination" physicalName="topicName"/>


    <!--1、jmsTemplate 2、defaultDestination 定义了默认的消息目的地 3、messageConverter 消息转换器 -->
    <bean id="jmsTemplate"
          class="org.springframework.jms.core.JmsTemplate"
          p:connectionFactory-ref="connectionFactory"
          p:defaultDestination-ref="queueDestination"
          p:messageConverter-ref="messageConverter"/>

    <!--MessageConvert-->
    <bean id="messageConverter" class="org.springframework.jms.support.converter.SimpleMessageConverter"/>

    <!--消息监听器-->
    <jms:listener-container connection-factory="connectionFactory">
        <jms:listener destination="queueName" ref="queueMessageHandler" method="handle"/>
        <jms:listener destination="topicName" ref="topicMessageHandler" method="handle"/>
        <jms:listener destination="queueList" ref="queueMessageHandler" method="handle2"/>

        <!--利用jms监听器导出消息服务-->
        <jms:listener destination="sparta" ref="jmsServer"/>
    </jms:listener-container>


    <bean id="jmsServer"
          class="org.springframework.jms.remoting.JmsInvokerServiceExporter"
          p:serviceInterface="org.springframework.message.activemq.rpc.JmsServer"
          p:service-ref="jmsServerImpl"/>


    <!--远程代理工厂 bean ，供客户端访问-->
    <bean id="jmsServerProxy" class="org.springframework.jms.remoting.JmsInvokerProxyFactoryBean"
          p:serviceInterface="org.springframework.message.activemq.rpc.JmsServer"
          p:connectionFactory-ref="connectionFactory"
          p:queueName="sparta"/>

    <!--分隔符-->

    <!--1、ActiveMQ 工厂 2、普通bean方式 -->
    <bean id="connectionFactory2"
          class="org.apache.activemq.spring.ActiveMQConnectionFactory"
          p:userName="admin"
          p:password="admin"
          p:brokerURL="tcp://localhost:61616"/>
    <bean id="queue2" class="org.apache.activemq.command.ActiveMQQueue" p:physicalName="queueName2"/>
    <bean id="topic2" class="org.apache.activemq.command.ActiveMQTopic" p:physicalName="topicName2"/>


</beans>
